.center-header {
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#pink-header {
    color:palevioletred;
}

header {
    padding: 25px 50px 10px;
}

body {
    display: block;
    margin: 8px;
}

#mainHeading {
    font-family: 'Papyrus';
    color: red;
}

.funParagraph {
    color: green;
}

/* 
1. Use the element selector to give the <body> element a margin value of 8px and a display type of block. 
2. Give a heading on your page the id of mainHeading and use the id selector in styles.css to apply a styling of your choosing.
3. Give a paragraph on your page the id of testP and a class name of funParagraph. Use the class selector in styles.css and give it a styling of your choosing.
*/