.center-header {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#donut-county-header {
    color: #ff87eb;
}

#goose-game-header {
    color: #3c6bd6;
}

#goat-sim-header {
    color: #367313;
}

#octodad-header {
    color: #fdb814;
}

header {
    padding: 25px 50px 10px;
}

footer {
    padding-top: 25px;
}

body {
    display: block;
    margin: 8px;
}

#mainHeading {
    font-family: 'Papyrus';
    color: red;
}

.funParagraph {
    color: green;
}

